{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="row">
    {% for review in reviews %}
      <div class="card border-light col-sm-6 col-md-4 m-3" style="width: 18rem;">
        {% if review.image %}
          <a href="{% url 'reviews:detail' review.pk %}"><img src="{{ review.image.url }}" class="card-img-top" style="width: 262px; height: 370px;" alt="..."></a>
        {% else %}
          <a href="{% url 'reviews:detail' review.pk %}"><img src="{% static 'movie/noimg.png' %}" class="card-img-top" style="width: 262px; height: 370px;" alt="noimg"></a>
        {% endif %}
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="mb-2"><strong>{{ review.title }}</strong></p>
            <p class="fw-light" style= "font-size: 10px;">{{ review.user }}</p>
          </div>
          <p class="fw-light text-truncate" style="font-size: 12px;">{{ review.content }}</p>
          {% comment %} <p>영화 이름 - {{review.movie}}</p> {% endcomment %}      
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}