{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center mt-5">
  <div style="max-width: 600px;">
    {% if review.image %}
      <img src="{{ review.image.url }}" style="width: 600px; height: auto;" alt="IMAGE">
    {% else %}
      <p>이미지 없음</p>
    {% endif %}
    <div class="mt-3">
      <p><span class="fw-bold">작성자</span> - {{review.user}}</p>
      <p><span class="fw-bold">후기 번호</span> - {{review.pk}}</p>
      <p><span class="fw-bold">후기 제목</span> - {{review.title}}</p>
      <p class="text-break"><span class="fw-bold">후기 내용</span> - {{review.content}}</p>
      <p><span class="fw-bold">영화 이름</span> - {{review.movie}}</p>
    </div>

    <div class="mt-2">
      {% if request.user == review.user %}
        
        <a class="btn btn-outline-success" href="{% url 'reviews:update' review.pk %}">UPDATE</a>
      {% endif %}
        <a class="btn btn-outline-secondary" href="{% url 'reviews:index' %}">back</a>
    </div>
    {% if request.user == review.user %}
      <form action="{% url 'reviews:delete' review.pk  %}" method="POST">
        {% csrf_token %}
        {% comment %} <input class="btn btn-outline-danger mt-2" type="submit" value="게시글 삭제"> {% endcomment %}
        <button type="submit" class="btn btn-outline-danger mt-2">게시글 삭제</button>
      </form>
    {% endif %}
    
    <hr>

    <form action="{% url 'reviews:comment_create' review.pk %}" method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input class="btn btn-outline-secondary btn-sm" type="submit" value="✍🏻댓글 작성">
    </form>
    <hr>
    <p class="p-3 fw-bold mb-2 bg-body-secondary">댓글 <span style="color:#00c3bd;">{{count}}</span></p>
    {% for comment in comments %}
      <div>
        <p class="fw-bold">{{ comment.user }}</p>
        <p>댓글 번호 - {{ comment.pk}}</p>
        <p class="text-break">댓글 내용 - {{ comment.content}}</p>
        {% if request.user == comment.user %}
        <div class="d-flex flex-row">
          <div id="button-container-{{ comment.pk }}">
            <button id="comment_btn_{{ comment.pk }}" class="btn btn-outline-warning btn-sm me-2">댓글 수정</button>
            <div id="dis_{{ comment.pk }}" style="display: none;">
              <form action="{% url 'reviews:comment_update' review.pk comment.pk %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" value="UPDATE" class="btn btn-outline-warning btn-sm">댓글 수정</button>
              </form>
            </div>
          </div>
          <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-outline-danger btn-sm" type="submit" value="댓글 삭제">
          </form>
        </div>
        {% endif %}
      </div>
      <hr>
    {% endfor %}
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(document).ready(function() {
  $("[id^='button-container-']").on("click", "[id^='comment_btn_']", function() {
    var btn_id = $(this).attr('id');
    var dis_id = "#dis_" + btn_id.split("_")[2];
    if($(dis_id).css('display') == 'none'){
      $(dis_id).show();
      $(this).text('댓글 수정 취소');
    }else{
      $(dis_id).hide();
      $(this).text('댓글 수정');
    }
  });
});
</script>
{% endblock content %}