{% extends 'base.html' %}

{% block style %}{% endblock style %}

{% block content %}
{% for category in post %}
    {% comment %} <p>글 번호 = <a href="{% url 'posts:detail' category.pk %}">{{category.pk}}</a></p>
    <p>글 제목 = <a href="{% url 'posts:detail' category.pk %}">{{category.title}}</a></p>
    <p>글 내용 = <a href="{% url 'posts:detail' category.pk %}">{{category.content}}</a></p>
    <p>카테고리 = <a href="{% url 'posts:detail' category.pk %}">{{category.category}}</a></p> {% endcomment %}
    <p>
    글번호 : <a href="{% url 'posts:detail' category.pk %}">{{ category.pk }}</a> / 카테고리 : {{ category.category}}
    </p>
{% endfor %}
{% endblock content %}