{% extends 'base.html' %}
{% block style %}
<style>
  #box{
    width:500px;
    positions:flex;
    justify-content:center;
  }
</style>
{% endblock style %}

{% block content %}
  <div class="text-center d-flex flex-column justify-content-center" id="box">
    <h1 class="fw-bold mb-4">설정</h1>
    <div class="d-grid gap-2 ">
      <a href="{% url 'accounts:update' %} " class="btn btn-primary">회원정보수정</a>
      <a href="{% url 'accounts:change_password' %}" class="btn btn-success">비밀번호수정</a>
      <form action="{% url 'accounts:delete' %}" method="POST" class="d-grid gap-2">
        {% csrf_token %}
        <input type="submit" value="탈퇴" class="btn btn-danger">
      </form>
    </div>
  </div>
{% endblock content %}