{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>14조_balancegame</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
      .text {
        text-decoration : none;
        color : #1E3269;
      }

      #cursor:hover {
        color : #1ab394;
      }

      .nav-left {
        float : left;
      }

      .navbar-margin {
        margin-left: 52rem;
      }

      .form-control:focus {
        border-color: green;
        box-shadow: 0 0 0 0.25rem rgba(26, 179, 148, 0.25);
      }
      {% block style %}
      {% endblock style %}
    </style>
    {% block link %}
    {% endblock link %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'posts:index' %}"><img src="{% static 'logo2.png' %}" alt="" style="width: 12rem; height: 2rem;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          {% if request.user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav nav-underline">
              <li class="nav-item">
                <a id="cursor" class="nav-link" href="{% url 'posts:index' %}">밸런스 게임</a>
              </li>
              <li class="nav-item">
                <a id="cursor" class="nav-link" href="{% url 'posts:create' %}">밸런스 게임 만들기</a>
              </li>
            </ul>
            <div class="d-flex flex-row align-items-center">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a id="cursor" class="nav-link pe-3" href="{% url 'accounts:profile' request.user %}"><i class="bi bi-person-check"></i> 내 프로필</a>
                </li>
                <li class="nav-item">
                  <a id="cursor" class="nav-link" href="{% url 'accounts:logout' %}"><i class="bi bi-box-arrow-right"></i> 로그아웃</a>
                </li>
              </ul>
            </div>
          {% else %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {% comment %} <a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">로그인</a> {% endcomment %}
            </li>
            <li class="nav-item">
              {% comment %} <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a> {% endcomment %}
            </li>
          </ul>
          <div class="d-flex flex-row align-items-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a id="cursor" class="nav-link pe-3" href="{% url 'accounts:login' %}"><i class="bi bi-box-arrow-in-right"></i> 로그인</a>
              </li>
              <li class="nav-item">
                <a id="cursor" class="nav-link" href="{% url 'accounts:signup' %}"><i class="bi bi-person-add"></i> 회원가입</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container mt-2 mb-5">
      <h1>{% block title %}{% endblock title %}</h1>
      {% block content %}{% endblock content %}
    </div>
    <footer class="bg-light p-2 fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 text-center text-md-start">
            <div>Copyright © 2023 Recommend movie All rights reserved.</div>
          </div>
          <div class="col-12 col-md-6 text-center text-md-end">
            <div>Designed by 14조 </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>

</html>